.posts {
    gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.post div {
    display: flex;
    gap: 20px;
}

.post div div {
    flex-direction: column;
    gap: 0px;
}

.post p {
    font-size: 1.1rem;
}

.post img {
    width: 80px;
    border-radius: 4px;
    height: 80px;
}

.post p:nth-child(3) {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.post {
    font-size: 1.5rem;
    padding: 1.6rem;
    border: 1px solid rgb(0 0 0 / 11%);
    border-radius: 4px;
    width: 100%;
    padding-bottom: 2rem;
    position: relative;
}

.title {
    margin-bottom: 1.2rem;
    font-weight: 700;
    color: black;
    font-size: 1.5rem;
}

.post i:hover {
    color: black;
}

.post i:nth-child(3) {
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    left: 15px;
}

.post i:nth-child(2) {
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    left: 45px;
}