/* ==========Sidebar Filter========== */
.sidebar{
    width: 22% !important;
}
.sidebar__filter {
    border-bottom: var(--border);
    padding: 0 0.5rem;
}

.sidebar__filter-item {
    scrollbar-width: 0;
}

.sidebar__filter-item::-webkit-scrollbar {
    width: 0;
}

.sidebar__filter-title-wrapper {
    cursor: pointer;
    display: flex;
    padding: 1.5rem 0;
}

.sidebar__filter-icon {
    font-size: var(--font-size-sm);
}

.sidebar__filter-title {
    font-family: "iransans-bold";
    font-size: var(--font-size-sm);
    color: var(--black-color);
    margin-right: 1rem;
}

.sidebar__filter-price {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.sidebar__filter-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__filter-price-label {
    font-size: var(--font-size-sm);
}

.sidebar__filter-price-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-sm);
    width: 75%;
    cursor: pointer;
    margin: 1rem 0;
}

.sidebar__filter-price-left {
    display: flex;
    align-items: center;
}

.sidebar__filter-price-text {
    margin-left: 0.7rem;
}

.sidebar__filter-condition {
    position: relative;
    margin: 0 1rem;
    /* max-height: 0; */
    /* overflow: hidden; */
    transition: max-height 0.4s ease;
}

.sidebar__filter-condition-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__filter-condition-left {
    margin: 1rem 0;
}

.sidebar__filter-condition-label {
    font-size: var(--font-size-sm);
    color: var(--black-color);
    font-family: "iransans-medium";
}

/* Swith Style */
.sidebar__filter-condition-switch {
    position: relative;
    display: inline-block;
    width: 3.8rem;
    height: 2rem;
}

.sidebar__filter-condition-switch .sidebar__filter-condition-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sidebar__filter-condition-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#585858;
    transition: 0.4s;
    border-radius: 4rem;
    padding: .5rem;
}

.sidebar__filter-condition-slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 2px;
    bottom: 0.25rem;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.sidebar__filter-condition-input:checked+.sidebar__filter-condition-slider {
    background-color: var(--primary-color);
}

.sidebar__filter-condition-input:checked+.sidebar__filter-condition-slider:before {
    transform: translateX(1.9rem);
}

/* End Swith Style */
.sidebar__links {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: center;
}

.sidebar__link {
    padding: 0 0.8rem;
    line-height: 3rem;
    font-size: var(--font-size-sm);
}

.sidebar__icons {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.sidebar__icon-link {
    padding: 0 1.3rem;
}

.sidebar__icon-link:hover .sidebar__icon {
    color: var(--black-color);
}

.sidebar__icon {
    font-size: var(--font-size-lg);
}

.sidebar__images {
    margin: 2rem 0;
}

/* ==========End Sidebar Filter========== */
/* ==========Sidebar Category========== */

.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar__category {
    border-bottom: var(--border);
    /* min-height: 235px; */
}
.sidebar__category-title {
    font-size:1.2rem;
    color:var(--black-color);
    font-family: "iransans-medium";
}
.sidebar__category-list {
    margin: 1rem 0;
}
.sidebar__category-link_details p{
    margin-top: 5px;
}
.sidebar__category-link_details{ 
    display: flex;
    gap: 5px;
    align-items: center;
}
.subCategory-list li{
    margin-top: 15px;
}
.active-category .subCategory-list{
display: block !important;
}
.all-categories p{
    margin-top: 5px;
    cursor: pointer;
}
.active-subCategory{
    color: red;
    padding-right: 5px;
    border-right:solid 1px red !important;
}
.subCategory-list li{
    font-size: 1.3rem;
}
.all-categories{
    display: flex;
    gap: 15px;
    flex-direction: row-reverse;
    font-size: 1.5rem;
    justify-content: right;
    align-items: center;
}
.subCategory-list{
    padding-right: 2rem;
    display: none;
}
.sidebar__category-link {
    padding: 1rem 0;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: right;
    /* flex-flow: column; */
}
.sidebar__category-link:hover .sidebar__category-icon {
    color:var(--black-color);
}
.sidebar__category-icon {
    margin-left: 0.5rem;
    display: inline;
}
.form-control , .form-control:focus{
    background-color: transparent;
    color: var(--black-color);
}
.sidebar__formSelect {
    border: var(--border) ;
}
.sidebar__formSelect option{
    background-color: var(--white-color);
    color: var(--black-color);
}
.accordion{
    --bs-accordion-bg: var(--white-color) !important;
    --bs-accordion-btn-focus-box-shadow:0;
--bs-accordion-btn-padding-x:.7rem;
--bs-accordion-border-width:0;
}
.accordion-button:not(.collapsed){
    background-color: transparent !important;
}
.accordion-button::after{
    display: none;
}


.kt-ftr-separator, .kt-ftr-separator:after, .kt-ftr-separator:before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px 10px;
    /* margin-left: 10px; */
}
.kt-ftr-separator, .kt-ftr-separator:after, .kt-ftr-separator:before {
    background-color: var(--text-color);
    opacity: .7;
    border-radius: 50%;
    content: "";
    flex-shrink: 0;
    height: 4px;
    width: 4px;
}

.activeSubSubCat{
    border-right: 2px solid var(--primary-color) ;
    padding-right: 7px;
}

/* ==========End Sidebar Category========== */