/* !=======================================Default Style!======================================= */
html {
    font-size: 62.5%;
}

* {
    outline: none;
    color: var(--text-color);
    font-family: "IRANSans" !important;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

button {
    background-color: transparent;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: var(--transition);
}

i {
    transition: var(--transition);
}

a:hover {
    color: var(--black-color);
}

input {
    border: none;
}

button {
    padding: 0;
    margin: 0;
}

.bi {
    display: flex;
    align-items: center;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 20px;
}
body::-webkit-scrollbar-track{
    background-color: var(--white-color);
}



/* !=======================================End Default Style!======================================= */

/* !=======================================Wrapper Style!======================================= */
.wrapper {
    width: 60rem;
    margin: 3rem 0;
}

/* !=======================================End Wrapper Style!======================================= */

/* !=======================================Loading!======================================= */
#loading {
    margin: 0 auto;
    margin-top: 270px;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 99999;
    border: 3px solid rgb(222 3 3);
    border-radius: 50%;
    border-top-color: var(--white-color);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

#loading-container {
    position: fixed;
    top: 65px;
    left: 0;
    z-index: 99999;
    background-color: var(--white-color);
    width: 100%;
    height: 100vh;
}

.active-login-loader {
    display: block !important;
    background: transparent !important;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* !=======================================Loading!======================================= */

.swal-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal-button-container button , .swal-button-container button:hover{
    background-color: var(--primary-color) !important;
}